body{

    background-color: #393E41;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #D3D0CB;
    text-decoration: double;
    border: 5px;
    
}
p{



}
/* in color we have two properties first color and second backround color clor palate */

