

#vk{


    margin: 20px;
    border: 2px solid brown;
    margin: 50px;
    padding: 50px;
}
.pink{

padding: 30px;
margin: 20px;
    border: 20px solid gray;
}
.lund{

    border: 20px solid pink;
}